<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace 定义接口的全路径-->
<mapper namespace="com.atguigu.gmall.product.mapper.BaseAttrInfoMapper">

    <resultMap id="BaseAttrInfoMap" type="com.atguigu.gmall.model.product.BaseAttrInfo"
               autoMapping="true">
        <id property="id" column="id"></id>
        <collection property="attrValueList" ofType="com.atguigu.gmall.model.product.BaseAttrValue"
                    autoMapping="true">
            <id property="id" column="att_value_id"></id>

        </collection>

    </resultMap>

    <select id="getAttrInfoList" resultMap="BaseAttrInfoMap">
        select bai.id,bai.attr_name,
               bai.category_id,bai.category_level,
               bav.id att_value_id,bav.value_name,
               bav.attr_id
        from base_attr_info bai inner join base_attr_value bav
        on bai.id=bav.attr_id
        <where>
            <if test="category1Id!=null &amp;&amp; category1Id!=0">
                 bai.category_id=#{category1Id} and bai.category_level='1' or
            </if>
            <if test="category2Id!=null &amp;&amp; category2Id!=0">
                bai.category_id=#{category2Id} and bai.category_level='2' or
            </if>
            <if test="category3Id!=null &amp;&amp; category3Id!=0">
                bai.category_id=#{category3Id} and bai.category_level='3'
            </if>
        </where>
    </select>
</mapper>